{
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "extends": ["plugin:jest/recommended"],
      "env": {
        "jest": true
      },
      "rules": {
        "jest/consistent-test-it": "error"
      }
    }
  ]
}
